<p>
  <strong>Commenter:</strong>
  <%= User.find_by(id: comment.user_id).name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>
<% if current_user.present? %>
  <% if comment.user_id == current_user.id %>
    <p>
      <%= link_to 'Destroy Comment', [comment.post.user, comment.post, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>