<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>

<p>
  <%= link_to 'Destroy Comment', user_post_comment_path(@user, @post, @comment),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>