<% @users.each do |user| %>
  <% if user_signed_in? %>
    <% if user.email != current_user.email %>
      <p>
        <%= link_to user.name, user_path(user) %>
        <br>
        <%= user.bio %>
      </p>
      <br>
      <br>
    <% end %>
  <% else %>
    <p>
      <%= link_to user.name, user_path(user) %>
      <br>
      <%= user.bio %>
    </p>
    <br>
    <br>
  <% end %>
<% end %>